# Include production requirements
-r requirements.txt

# Testing
pytest==7.4.4
pytest-django==4.7.0
pytest-cov==4.1.0
pytest-xdist==3.5.0
pytest-mock==3.12.0
factory-boy==3.3.0
Faker==22.0.0
model-bakery==1.17.0

# Code Quality
black==24.1.1
isort==5.13.2
flake8==7.0.0
flake8-django==1.4
pylint==3.0.3
pylint-django==2.5.5

# Type Checking
mypy==1.8.0
django-stubs==4.2.7
djangorestframework-stubs==3.14.5

# Security
bandit==1.7.6
safety==3.0.1

# Documentation
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0

# Development Tools
ipython==8.20.0
django-extensions==3.2.3
werkzeug==3.0.1

# Pre-commit hooks
pre-commit==3.6.0

# Coverage reporting
coverage==7.4.0
